<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Elite Schedule</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>My Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf='!favorites'>
    <ion-card-header class='my-teams-header'>No Followed Teams</ion-card-header>
    <ion-card-content>
      <p>You are not currently following any teams.</p>
      <p>First select a tournament, then click a team to follow.</p>
      <button (click)='goToTournaments()' ion-button round full>
      <ion-icon name='search'></ion-icon>
        <span padding>Find a Tournament</span>
      </button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf='favorites'>
    <ion-list>
      <ion-list-header class='my-teams-header'>Followed Teams</ion-list-header>
      <button ion-item *ngFor='let item of favorites' (click)='favoriteTapped($event, item)'>
        <ion-icon name='people'></ion-icon>
          {{item.team.name}}
        <p>{{item.tournamentName}}</p>
      </button>
    </ion-list>
    <ion-card-content>
      <p>To follow more teams, select a tournament,
        then you can follow teams from their team page.</p>
      <button (click)='goToTournaments()' ion-button round full>
        <ion-icon name='search' padding></ion-icon>
        <span padding>Find a Tournament</span>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
