<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Elite Schedule</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>Navigate</ion-list-header>
      <button (click)="goHome()" ion-item>Home</button>
      <button (click)='goToTournaments()' ion-item>Find a Tournament</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
