<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Game</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <h3>Home Team</h3>
  <button ion-button (click)='teamTapped(game.team1Id)'>{{game.team1}}</button>

  <h3>Away Team</h3>
  <button ion-button (click)='teamTapped(game.team2Id)'>{{game.team2}}</button>
</ion-content>
