<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{team.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='goHome()'>
        <ion-icon name='home'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-tabs>
  <ion-tab tabTitle="Team" [root]="teamDetailTab" [rootParams]='team' tabIcon="basketball"></ion-tab>
  <ion-tab tabTitle="Standings" [root]="standingsTab" [rootParams]='team' tabIcon="podium"></ion-tab>
</ion-tabs>
