<!--
  Generated template for the TournamentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Select a Tournament</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor='let item of tournaments' (click)="itemTapped($event, item)">
      {{item.name}}
    </button>
  </ion-list>
</ion-content>
